.page-wrapper {
  background-color: #ffffff; /* Set the background color */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  width: 1500px;

} 

.user-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a slight shadow outline */
  padding: 10px; /* Add padding as needed */
  border-radius: 9px; /* Add border radius as needed */
  width: calc(100%);
}

.friend-list {
  margin-top: 20px;
}

.friend-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.friend-item {
  text-align: center;
}

.thumbnail-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.sticky-card {
  width: 100%; /* Set the width of the card to fill the available space */
}

.container-friends{

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a slight shadow outline */
  padding: 10px; /* Add padding as needed */
  border-radius: 9px; /* Add border radius as needed */
  width: calc(200%);
}


