.page-wrapper {
  background-color: #f4f6f7; /* Set the background color */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  width: 1500px;
} 

.user-info-box {
  border: 0.5px solid #ccc; /* Border style */
  padding: 5px; /* Padding around the box content */
  border-radius: 5px; /* Rounded corners */
  background-color: #040404; /* Background color */
}

.friend-list {
  margin-top: 20px;
}

.friend-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.friend-item {
  text-align: center;
}

.thumbnail-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}