

.profile-picture-container {
  text-align: center;
}

.profile-picture {
  align-self: left;
  height: 300px; /* Fixed height */
  width: 100%; /* Full width within its container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.introduction-container {
  background-color: ;
    color: #010101;
    font-weight: unset;
}

.sticky-card {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #eff1f7; 
    color: rgb(10, 0, 0);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: lighter;
    transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}
