@tailwind base;
@tailwind components;
@tailwind utilities;


.thumbnail-img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio while covering the thumbnail area */
    border-radius: 50%; /* Add rounded corners to the thumbnail */
  }
  
  .custom-background {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add padding as needed */
    border-radius: 8px; /* Add border radius as needed */
  }

  