.comment-form-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-form {
  width: 90%;
  align-items: Center;
}

.comment-avatar {
  margin-right: 10px;
  /* Add styles for user avatar */
}

.comment-input-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.comment-textarea {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  resize: none;
  margin-right: 10px;
}

.comment-submit-button {
  background-color: #1877f2; /* Facebook blue color */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-submit-button:hover {
  background-color: #0e65c2; /* Darker shade of Facebook blue */
}