.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-me-text {
    margin-top: 10px; /* Adjust as needed */
  }
  
  .job-title,
  .education,
  .where-do-you-live {
    margin-top: 10px; /* Adjust as needed */
    text-align: center;
  }

