

.card-image-background {
  height: 10%;
  width: 100%; /* Adjust as needed to fill the top half */
  background-image: url(../profile_cover_photo/banner.jpg); /* Set the background image */
  background-size: cover;
  background-position: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.user-container h1 {
  color: #fff; /* Set text color to white */
  font-size: 24px; /* Adjust font size */
  text-align: center; /* Center align text */
  margin-top: 150px; /* Adjust margin top */
}
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    /* transition: all ease-in-out 0.5s; */
    transition: all 0.5s;
    background: hsl(0, 0%, 100%);
    overflow-y: auto;
  }

  .img-fluid.rounded-circle {
    position: absolute;
    top: 50%; /* Position the image in the middle of the top half */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Adjust the width of the circle */
    height: 200px; /* Adjust the height of the circle */
    border: 1px solid white; /* Optional: Add border */
    border-radius: 50%; /* Make it a circle */
  }
  
  
  
  #header .profile h1 {
    font-size: 24px;
    font-weight: 100;
    color: #000003 !important;
    text-emphasis-color: black;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  /* #header .profile h1 a,
  #header .profile h1 a:hover {
    color: #050505;
    text-decoration: none;
  } */
/*   
  #header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #000308;
    color: #0c0000;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  } */
/*   
  #header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
  }
   */
  
  /*--------------------------------------------------------------
  /* # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
/*   
  .nav-menu * {
    list-style: none;
  }
  
  .nav-menu>ul>li {
    position: relative;

  }
  
  .nav-menu a,
  .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #000108;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 12px;
  }
  
  .nav-menu a i,
  .nav-menu a:focus i {
    font-size: 20px;
    color: #f7f7f9;
  }
  
  .nav-menu a:hover,
  .nav-menu .active,
  .nav-menu .active:focus,
  .nav-menu li:hover>a {
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(20 200 180/var(--tw-text-opacity));
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.99);
    
  }
  
  .nav-menu a:hover i,
  .nav-menu .active i,
  .nav-menu .active:focus i,
  .nav-menu li:hover>a i {
    color: #149ddd;
  } */
   
  /* Mobile Navigation
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    color: #fcf9f9;
    --tw-text-opacity: 1;
    background: rgb(20 200 180/var(--tw-text-opacity));
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
  } */
/*   
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active #header {
    left: 0;
  }
  
   */
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  /* #footer {
    padding: 10px;
    --tw-text-opacity: 1;
    color: rgb(50 150 146/var(--tw-text-opacity));
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #f6f7f8;
    text-align: center;
  
  }


 
  
  
   */