
body {
  flex-direction: column; /* Stack flex items vertically */
  background-color: #F5F8FA;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

div.mt-4.sticky-card.card {
  margin-top: 0 !important;
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  max-width: 700px;
  overflow: hidden;
}